<a href="https://colab.research.google.com/github/Tarshithreddy/FMML_COURSE_ASSIGNMENT/blob/main/FMML_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1 :
Define a function, which takes in two strings A and B. Reverses the first string A, adds it to B, and returns the final string.

In [1]:
def combined_string(A,B):
  A=A[::-1]
  return B+A
c=combined_string("ih",'hello')
c

'hellohi'

Question 2 :
Given a list having Names, work_hours, and gender, Write a function to print name of the female worker that worked the most hours. Also how much do should she be paid if the pay is $ 20 per hour.
work_hours = [('Abby',100 , 'F'),('Billy',400, 'M'),('Cassie',800,'F'), ('Maggi',600,'F'),('Alex',500,'M'),('Raj',225,'M'),('Penny',920,'F'),('Ben',300,'M')]
Answer : the female worker that worked the most hours is Penny and she should be paid 18400

In [2]:
def more_work(data):
  high=0
  for i in range(len(data)):
    if data[i][1]>high and data[i][2]=='F':
      high=data[i][1]
  high_paid=high*20
  worker=''
  for i in range(len(data)):
    if data[i][1]==high and data[i][2]=='F':
      worker+=data[i][0]
      break
  print(f"the female worker that worked the most hours is {worker} and she should be paid {high_paid}")
more_work([('Abby',100 , 'F'),('Billy',400, 'M'),('Cassie',800,'F'), ('Maggi',600,'F'),('Alex',500,'M'),('Raj',225,'M'),('Penny',920,'F'),('Ben',300,'M')])

the female worker that worked the most hours is Penny and she should be paid 18400

Question 3 :
a)Create a 5x5 matrix of the following form,
[[1,1]
[2,2]]
i.e. each row is increasing and has repetive elements.
Hint : you can use hstack, vstack etc.
b) find dot product of the matrix with any matrix. (Figure out the size/ shape of the matrix)

In [4]:
#3(a)
import numpy as np
m=np.zeros((5,5))
m+=np.arange(1,6)
n=m.T
n

array([[1., 1., 1., 1., 1.],
       [2., 2., 2., 2., 2.],
       [3., 3., 3., 3., 3.],
       [4., 4., 4., 4., 4.],
       [5., 5., 5., 5., 5.]])

In [5]:
#3(b)
j=np.arange(1,26).reshape(5,5)
h=np.dot(n,j)
h
h.size

25